<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News App</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
      
      {{>header}}
        <div class="container py-5">
          <div class="row">
              {{#each newsData}}
            <div class="col col-lg-4 mb-4">
              <div class="card" style="min-height:32rem">
                <div class='parent'>
                    <div class="child">
                <img src={{this.urlToImage}} class="card-img-top" alt={{this.title}} />
                </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p class="card-text">{{this.description}}</p>
                </div>
              </div>
            </div>
            {{else}}
            <div class="custom-ht">
                <h4>{{error}}</h4>
            </div>
            {{/each}}
          </div>
        </div>
        {{>footer}}
  </body>
</html>